*{
    margin: 0;
    font-family: arial;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color:  #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
   
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}/*box 2*/
.top_address{
    font-size: 12px;
    font-family: arial;
    color: #cccccc;
    margin-left: 15px;
}
.bottom_address{
    font-size: 14px;
    font-family: arial;
    color: #ffffff;
    margin-left: 3px;
}
.address_icon{
    display:flex ;
    align-items:center;
}
/*box3*/
.nav_search{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    height: 40px;
    width: 620px;
    border-radius: 4px;


}
.select_search{
    background-color: #f3f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search_bar{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 1.2rem;
    background-color:#febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav_search:hover{
    border: 2px solid orange;
}
/*box4*/
.choose_lang{
    color: #0f1111;
   
  
}
/*box5*/

.nav_first{
    font-size: 12px;
    color: #ffffff;
}
.nav_seconds{
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}
/*box6*/
.cart_logo i {
    width: 36px;
    height: 26px;
}
.cart{
    font-size: 14px;
    font-weight: 700;
}